header div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: first baseline;
    gap: 15px 30px;
    padding: 20px;
}

.menu_button {
    background-color: #3CB371;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    height: 35px;
}
.menu_button:hover {
    background-color: #2E8B57;
}

.menu_button img {
    max-width: 50px;
    margin-top: -30px;
    transition: 0.5s all;
}

.menu_button img:hover {
    max-width: 80px;
    margin-top: -30px;
}

.bem-vindo {
    
    color: azure;
    border-radius: 5px;
    width: auto;
    min-height: 15px;
    background-color: rgb(0, 31, 14);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sair {
    width: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: brown;
    margin-left: 15px;
}
