.main {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.card_session {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 3rem;
}
.text_send {
    height: 120px;
    width: 100%;
}